body
{
    display: flex;
    width: 100vh;
    min-height: 810px;
    background-color: black;
    opacity: 0.4;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA6f6vJxOjs2VbW1jTmRYnJJGS4xQMuPNquPScqacH-FyZPnyhn7rpE9SbE45IjMi1_dk&usqp=CAU");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
    padding-top: 770px;
    padding-left: 40px;
}
.taskbar
{
    box-shadow: 0px 0px 20px 0px black;
    width: 200vh;
    height: 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}